= simple_form_for :user, :url => '/home/register', :method => 'post' do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :password
  = f.button :submit
  - if @user.errors.any?
    - @user.errors.full_messages.each do |msg|
      %li= msg
