%h1= t('categories.title')

- @categories.each do |c|
  %div
    %h3= c.name
    %li= link_to t('categories.show'), usercp_category_path( c )
    %li= link_to t('categories.edit'), edit_usercp_category_path( c )

%div= link_to t('categories.new'), new_usercp_category_path
