= simple_form_for [ :usercp, product ] do |f|
  = f.input :code
  = f.input :name
  = f.input :price
  = f.input :image, :as => :file
  = f.association :category, :input_html => { :onchange => 'updateProductSubcategories(this)' }
  = f.association :subcategory, collection: Subcategory.where(:category_id => product.category)
  = f.input :description, :as => :text, :input_html => { :cols => 50, :rows => 3 }
  = f.input :notes
  = f.button :submit
  - if @product.errors.any?
    - @product.errors.each do |msg|
      %li= msg
