%h1= t('products.title')

- @products.each do |p|
  %div
    %h3= p.name
    %img{ :src => p.image.url(:thumb) }
    %div= p.description
    %div= p.price
    = link_to t('products.edit'), edit_usercp_product_path(p.id)

= link_to t('products.new'), new_usercp_product_path
